.vscode
*.so
*.o
*.log
*.trace
*.gz
*.out
ReuseCache/obj/*
ConventionalCache/obj/*
traces/
speccpu-traces/
ReuseCache/bin/*
ConventionalCache/bin/*
ReuseCache/reuse_cache_output/*
ConventionalCache/cache_output/*
ONNX-Runtime-Inference/build
ONNX-Runtime-Inference/data/models
